
body{
  font-family:Arial,sans-serif
}

.comment-content {
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding-left:0.5em;
}

.pr_info {
  border-bottom:1px solid #ccc;
  padding-bottom: 5px
}

#pr_state {
  padding: 3px 9px;
  font-weight: bold;
  border: 0px solid white;
  border-radius:10px;
  color: white;
  background-color: #6699ff;
}

.DECLINED   { background-color: #ff6666; }
.MERGED     { background-color: #669900; }
.SUPERSEDED { background-color: #996633; }

#comment_header {
  border-top:1px solid #ccc;
  padding-top: 5px
}

.goto_parent:after{
  content: '\21b8';
  color: grey
}

a { 
  text-decoration: none;
}

pre {
  background:#F4F5F7;
  border:1px solid #DFE1E6;
  border-radius:3px;
  overflow-x:auto;
  padding:5px 10px;
  word-wrap:normal;
}
pre>code {
  margin:0;border:none;
  padding:1px 3px;
}

a.ap-mention,span.ap-mention{
  display:inline-block;
  background:#F4F5F7;
  border:1px solid transparent;
  border-radius:20px;
  color:#42526E;
  padding:0 4px 2px 3px;
  white-space:nowrap;
  line-height:16px
}

span.ap-connect-dialog,span.ap-connect-inline-dialog,span.ap-connect-link{cursor:pointer;color:#0052CC;text-decoration:none}
span.ap-connect-dialog:focus,span.ap-connect-dialog:hover,span.ap-connect-inline-dialog:focus,span.ap-connect-inline-dialog:hover,span.ap-connect-link:focus,span.ap-connect-link:hover{color:#0065FF;text-decoration:underline}
span.ap-connect-dialog:active,span.ap-connect-inline-dialog:active,span.ap-connect-link:active{color:#0747A6;text-decoration:underline}

blockquote {
  border-left:4px solid #ccc;
  color:#707070;
  padding:1px 10px;
  margin:10px 10px 0 0}

.emoji{max-height:1em;font-size:1em;margin:0 .05em 0 .1em;vertical-align:middle}

code,tt{padding:1px 3px;border:0px solid #F4F5F7;border-radius:3px;background:#F4F5F7}




.cm-em,.codehilite .c,.codehilite .c1,.codehilite .cm,.codehilite .cs,.codehilite .ge{font-style:italic}
.cm-header,.cm-strong,.cm-tw-header5,.codehilite .cp,.codehilite .gs,.codehilite .k,.codehilite .kc,.codehilite .kd,.codehilite .kn,.codehilite .kp,.codehilite .kr,.codehilite .kt,.codehilite .nc,.codehilite .ne,.codehilite .nf,.codehilite .o,.codehilite .ow,span.cm-brace,span.cm-table{font-weight:700}




/* .wiki-content .codehilite{margin-top:10px} */
/* .wiki-content .codehilite:first-child{margin-top:0} */



.codehilite .hll{background-color:#ffc}
.codehilite .c{color:#998}
.codehilite .err{color:#a61717;background-color:#e3d2d2}
.codehilite .cm{color:#998}
.codehilite .cp{color:#999}
.codehilite .c1{color:#998}
.codehilite .cs{color:#999;font-weight:700}
.codehilite .gd{color:#000;background-color:#fdd}
.codehilite .gr{color:#a00}
.codehilite .gh{color:#999}
.codehilite .gi{color:#000;background-color:#dfd}
.codehilite .go{color:#888}
.codehilite .gp{color:#555}
.codehilite .gu{color:#aaa}
.codehilite .gt{color:#a00}
.codehilite .kt{color:#458}
.codehilite .m{color:#099}
.codehilite .s{color:#b84}
.codehilite .na{color:teal}
.codehilite .nb{color:#999}
.codehilite .nc{color:#458}
.codehilite .no{color:teal}
.codehilite .ni{color:purple}
.codehilite .ne,.codehilite .nf{color:#900}
.codehilite .nn{color:#555}
.codehilite .nt{color:navy}
.codehilite .nv{color:teal}
.codehilite .w{color:#bbb}
.codehilite .mf,.codehilite .mh,.codehilite .mi,.codehilite .mo{color:#099}
.codehilite .s2,.codehilite .sb,.codehilite .sc,.codehilite .sd,.codehilite .se,.codehilite .sh,.codehilite .si,.codehilite .sx{color:#b84}
.codehilite .sr{color:olive}
.codehilite .s1,.codehilite .ss{color:#b84}
.codehilite .bp{color:#999}
.codehilite .vc,.codehilite .vg,.codehilite .vi{color:teal}
.codehilite .il{color:#099}
